.product-image {
    width: 500px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-image{
    width: 170px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hashtag-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.hashtag {
    display: inline-block;
    background-color: #f1f1f1;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 15px;
    /* 모서리 둥글게 */
    font-size: 14px;
    position: relative;
}

.hashtag .remove {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
}

.hashtag .remove:hover {
    background-color: #ff4040;
}