.product-image {
    width: 500px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-image{
    width: 170px;
    height: auto;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}