{% extends 'base.html' %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<h1>프로필 사진 변경</h1>
<img src="{{ form.instance.image.url }}" alt="{{ form.instance.image.name }}" class="user-image">
<form action="{% url "accounts:profile_update" request.user.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" id="{{ form.image.id_for_label }}" accept="image/*">
    <input type="submit" value="변경">
</form>
{% endblock %}