{% extends 'base.html' %}

{% block content %}
<h1>중고 물품 목록</h1>
<a href="{% url "products:create" %}">
    <button>물품 등록하기</button>
</a>
{% for product in products %}
    <a href="{% url "products:product_detail" product.pk %}">
        <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ddd; padding: 10px;">
            <span>[{{ product.pk }}] 제목 : {{ product.title }} | 가격 : {{ product.price }}원</span>
            <span>작성자 : {{ product.author }}</span>
        </div>
    </a>
    <hr>
{% endfor %}

{% endblock %}