{% extends 'base.html' %}

{% block content %}
    {% if results %}
        <h3>"{{ query }}"에 대한 검색결과입니다.</h3>
        {% for product in results %}
            <a href="{% url "products:product_detail" product.pk %}">
                <div style="display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ddd; padding: 10px;">
                    <span>{{ product.title }} | 가격 : {{ product.price }}원</span>
                    <span>작성자 : {{ product.author }}</span>
                </div>
            </a>
            <hr>
        {% endfor %}
    {% else %}
        <h3>"{{ query }}"에 대한 검색결과가 없습니다.</h3>
    {% endif %}
{% endblock  %}
