{% extends 'base.html' %}

{% block content %}
<h1>게시물 수정</h1>
<form action="{% url "products:update" product.pk %}" method = "POST">
    {% csrf_token %}
    <label for="title">제목</label>
    <input type='text' name='title' value='{{ product.title }}'><br><br>

    <label for="price">가격</label>
    <input type='text' name='price' value='{{ product.price }}'><br><br>

    <label for="content">내용</label>
    <textarea name="content" id="content" cols="30" rows="10">{{ product.content }}</textarea><br><br>

    <button type="submit">수정</button>
</form>
<a href="{% url 'product_detail' product.pk %}">이전으로</a>
{% endblock  %}